@keyframes shout{
    0%{
        transform: scale(5);
    }
    50%{
        transform: scale(5.2) rotate(-15deg);
  
    }
    100%{
        transform: scale(5);
    }
  }
  @keyframes look{
  0%{
    transform: scale(5) rotate(0deg);
  }
  25%{
    transform: scale(5.1) rotate(-20deg);
  }
  50%{
    transform: scale(5.4) rotate(0deg);
    filter: drop-shadow(0px 0px 5px var(--text-dark));
  }
  60%{
    transform: scale(5.4) rotate(0deg);
  }
  75%{
    transform: scale(5.1) rotate(15deg);
  }
  100%{
    transform: scale(5) rotate(0deg);
  
  }
  }
  